.main-container {
    font-family:'Courier New', Courier, monospace;
    display: flex;
    margin: 0 auto;
    padding: 0 5%;
    background-color:skyblue;
}

.map {
    flex: 5;
    text-align: center;
}

.info {
    flex: 1;
}
/* 
.country-highlight {
    fill: red;
} */