<div class="main-container">

  <div class="map">
    <h2>A Map of the World</h2>
    <object data='../assets/world-map.svg' type='image/svg+xml' (load)='onSvgLoad($event)'>
      <img src='../assets/world-map.svg' alt='world map image'>
      <p>There was an error loading the SVG file. Fallback with limited functionality.</p>
    </object>
  </div>

  <div class="info">
    <h4>Click a country to learn more about it</h4>
    <ul *ngIf='countryName !== "" '>
    <!-- <ul> -->
      <li><strong>Name: </strong>{{ countryName }}</li>
      <li><strong>Capital: </strong>{{ capital }}</li>
      <li><strong>Region: </strong>{{ region }}</li>
      <li><strong>Income level: </strong>{{ income }}</li>
      <li><strong>Latitude: </strong>{{ latitude }}</li>
      <li><strong>Longitude: </strong>{{ longitude }}</li>
    </ul>
  </div>

</div>
