.main-container {
    display: flex;
    margin: 0 auto;
    background-color: beige;
    padding: 0 5%;
}

.map {
    flex: 5;
    /* background-color: blueviolet; */
    text-align: center;
}

.info {
    flex: 1;
    /* background-color: chocolate; */
}